
# pixi environments
Paddleseg_old/*
demo_data/
results/
results_combined/
finished_models/
fine_tuned_outputs/
pretrained/
skeletonide/
onnx_outputs/
.pixi/
*.egg-info
pixi.lock

*.pdparams
*.png
*.jpg
*.JPG
*.pdopt
hrsegnetb*/
logs/
*.csv
*.zip
*.rar
cudnn/
outputs*/
PaddleSeg/.github/
PaddleSeg/configs/
PaddleSeg/contrib/
PaddleSeg/docs/
PaddleSeg/Matting/
PaddleSeg/test_tipc/
PaddleSeg/tests/
PaddleSeg/tools/
PaddleSeg/deploy/
PaddleSeg/output/
PaddleSeg/EISeg/
PaddleSeg/paddleseg/
PaddleSeg
__pycache__/
cudnn/
datasets/
setup.py
.travis.yaml
.pre-commit-config.yaml
README*.md
*.zip
*.dll
*.h 
*.lib